{% extends 'base.html' %}
{% load staticfiles %}
{% block specific-css %}

     <link rel="stylesheet" href="{% static 'photo_gallery/lightbox2/dist/css/lightbox.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>
                {{ album.name }}
            </h1>
        </div>

    </div>
    <div class="row">

        <div class="col s12">
            <p>
                {{ album.description }}
            </p>
        </div>
    </div>
    <div class="row" id="freewall">
        {% for element in list %}
            {#            <div class="">#}
            <a href="/media/{{ element.photo_image }}" data-lightbox="roadtrip">
                {{ image.name }}
                <img src="/media/{{ element.photo_image }}" class="col s12 m6 responsive-img"  style="margin-bottom: 10px;"/>
            </a>
            {#            <img src="/media/{{ element.image }}" class="materialboxed col s12 m4"/>#}
            {#                <div class="card">#}
            {#                    <div class="card-image">#}
            {##}
            {#                            <img src="/media/{{ element.image }}" class="materialboxed" width="650"/>#}
            {##}
            {##}
            {#                    </div>#}
            {#                    <div class="card-content">#}
            {#                        <span class="card-title activator">{{ element.name }}</span>#}
            {#                    </div>#}
            {#                    <div class="card-reveal">#}
            {#                        <span class="card-title activator">{{ element.name }}<i class="material-icons right">close</i></span>#}
            {#                        {{ element.description| safe }}#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
{#            {% if forloop.counter|divisibleby:3 %}#}
{#                </div>#}
{#                <div class="row">#}
{#            {% endif %}#}
        {% endfor %}
        </div>
    {% if perms.photo_gallery.add_photo %}
        <div style="position: relative;">
            <div class="fixed-action-btn horizontal" style="right: 24px;">
                <a class="btn-floating btn-large red" href="{% url 'photo_gallery:create_multiple_photo' album.slug %}">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block specific-js %}
    <script type="application/javascript" src="{% static 'photo_gallery/lightbox2/dist/js/lightbox.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'photo_gallery/freewall/freewall.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(
                function()
                {
                    var wall = new Freewall("#freewall");
                    wall.fitWidth();
                }

        );
    </script>
{% endblock %}